<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OA Tutors</title>
  <meta property="og:image" content="{{ url_for ('static', filename='images/oa-tutors-logo-black.png') }}" />
  <link rel="stylesheet" href="assets/css/comingsoon.css" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--==================== UNICONS ====================-->
  <!-- Include UNICONS for icon usage -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <!--==================== SWIPER CSS ====================-->
  <!-- Include Swiper CSS for slider -->
  <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
  <!--==================== CSS ====================-->
  <!-- Include custom styles -->
  <link rel="stylesheet" href="assets/css/styles.css">
  <!--==================== ICONS ====================-->
  <!-- Include Iconify for icon usage -->
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  <!--==================== EMAIL SERVICE ====================-->
  <!-- Sweet Alert for email notifications -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- Email.JS for email sending -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
  <script type="text/javascript">
    (function () {
      emailjs.init('gF3M_-jS8KuvoCpV4');
    })();
  </script>
  <!--==================== CALENDAR SERVICE ====================-->
  <!-- Calendly for scheduling -->
  <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
  <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
  <!--==================== TITLE and Favicon ====================-->
  <script src="https://cdn.tailwindcss.com"></script>
  <title>OA Tutors</title>
  <!-- Favicon for browser tab -->
  <link rel="apple-touch-icon" sizes="180x180" class="rounded-full" href="assets/img/oa-tutors-logo-yellow.png">
  <link rel="icon" type="image/png" sizes="32x32" class="rounded-full" href="assets/img/oa-tutors-logo-yellow.png">
  <link rel="icon" type="image/png" sizes="16x16" class="rounded-full" href="assets/img/oa-tutors-logo-yellow.png">
  <!-- HTML Meta Tags -->
  <title>OA Tutors</title>
  <meta name="description" content="Unlock your child's potential
with personalised one-to-one lessons. We are offering you a one-stop path to success">
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://www.tutor.olaarowolo.com/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="OA Tutors 📚">
  <meta property="og:description" content="Unlock your child's potential
with personalised one-to-one lessons. We are offering you a one-stop path to success">
  <meta property="og:image" content="/assets/favicon_io/oa-logo-yellow-bgrd-480x480.png">
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="tutor.olaarowolo.com">
  <meta property="twitter:url" contents="https://www.tutor.olaarowolo.com/">
  <meta name="twitter:title" content="OA Tutors 📚">
  <meta name="twitter:description" content="Unlock your child's potential
with personalised one-to-one lessons. We are offering you a one-stop path to success">
  <meta name="twitter:image" class="circle-frame" content="/assets/favicon_io/oa-tutors-logo-yellow.png">

</head>
<!--==================== HEADER ====================-->
<header class="header" id="header" style="display: flex; justify-content: center;">
  <nav style="display: flex; justify-content: center;">
    <!-- Light Theme Logo -->
    <a href="{{ url_for ('home')}}" style="display: flex; justify-content: center;">
      <img src="{{ url_for('static', filename='images/oa-tutors-logo-black.png') }}" alt="OA Tutors Logo" style="width: 8rem; height: 8rem;"
        id="light-logo">

    </a>
   
    
  </nav>
</header>

  <!-- Boostrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
  </script>

<body>
  <!--==================== MAIN ====================-->
  <main class="main">
    <!--==================== HOME ====================-->
    <section class="home section" id="home" data-id="home"></section>
    <!--==================== ABOUT ====================-->
    <!-- About Section Title and Subtitle -->
    <section class="text-gray-600 body-font" id="about">
      <div class="px-5 py-5 mx-auto flex flex-wrap items-center justify-center">
        <div>
          <div style="text-align: center;">
            <h2 class="section__title">
              <b>Unlock your child's potential</b> <br>
              <i>with personalised one-to-one lessons</i> </h2>
            <h2 class="section__title">
              We are offering you a one-stop path to success<span class="hidden lg:inline-block"></span>
            </h2>
            <div>* * *</div>
          </div>
          <div class="flex justify-center">
            <button
              class="inline-flex text-white bg-yellow-400 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-500 rounded text-lg">
              <a href="#services">Book a session </button>
            </a>
            <!--<button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-200 rounded text-lg"> Learn More </button>-->
          </div>
        </div>
      </div>
    </section>
    <!-- Services Offered -->
    <section class="px-5 py-5 mx-auto flex flex-wrap items-center justify-center" class="text-gray-600 body-font"
      id="services">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
          <!-- SUBJECTS LISTS -->
          <div class="xl:w-1/4 md:w-1/2 p-4 flex items-center justify-center flex flex-wrap items-center justify-center"
            id="SUBJECTS">
            <div class="bg-gray-100 p-6 rounded-lg w-full">
              <img class="rounded w-full object-cover object-center mb-6" src="{{ url_for( 'static', filename='images/11+.svg')}}" alt="content" />

              <div class="flex flex-col items-center">
                <h3 class="text-yellow-500 text-s font-medium title-font"> Special Exams/Transfer Test </h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-0"> 11 plus (11+) Lessons </h2>
                <h2>
                  <a href="{{ url_for('eleven_plus') }}" class="text-blue-500 hover:underline">
                      Read offer details
                  </a>
              </h2>
                              <!-- <div class="mb-4 text-center">
                      <p class="leading-relaxed text-base mb-2"> This session offers hands-on training using the latest and on-demand software </p>
                      <div class="hidden" id="full-description">
                        <p class="leading-relaxed text-base"> Participant are expected to have a tab or a laptop to learn effectively. </p>
                      </div>
                      <a href="#" onclick="toggleDescription(); return false;" class="text-blue-500 hover:underline">Read more</a>
                    </div> -->
                <button
                  class="inline-flex text-white bg-yellow-400 border-0 py-1.5 px-6 focus:outline-none rounded text-lg">
                  <a href=""
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/olaarowolo/personal-tutor'});return false;"
                    target="_blank"> Book a session </a>
                </button>
              </div>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4 flex items-center justify-center flex flex-wrap items-center justify-center"
            id="SUBJECTS">
            <div class="bg-gray-100 p-6 rounded-lg w-full">
              <img class="rounded w-full object-cover object-center mb-6" src="{{ url_for( 'static', filename='images/gcse.svg')}}" alt="content" />
              <div class="flex flex-col items-center">
                <h3 class="text-yellow-500 text-s font-medium title-font"> Certification Exams </h3>
                
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4"> GCSE Lessons </h2>
                <h2>
                  <a href="{{ url_for('keystages') }}" class="text-blue-500 hover:underline">
                    Read offer details</a></h2>
                <!-- <div class="mb-4 text-center">
                      <p class="leading-relaxed text-base mb-2"> This session offers hands-on training using the latest and on-demand software </p>
                      <div class="hidden" id="full-description">
                        <p class="leading-relaxed text-base"> Participant are expected to have a tab or a laptop to learn effectively. </p>
                      </div>
                      <a href="#" onclick="toggleDescription(); return false;" class="text-blue-500 hover:underline">Read more</a>
                    </div> -->
                <button
                  class="inline-flex text-white bg-yellow-400 border-0 py-1.5 px-6 focus:outline-none rounded text-lg">
                  <a href=""
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/olaarowolo/personal-tutor'});return false;"
                    target="_blank"> Book a session </a>
                </button>
              </div>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4 flex items-center justify-center flex flex-wrap items-center justify-center"
            id="SUBJECTS">
            <div class="bg-gray-100 p-6 rounded-lg w-full">
              <img class="rounded w-full object-cover object-center mb-6" src="{{ url_for( 'static', filename='images/1.svg')}}" alt="content" />
              <div class="flex flex-col items-center">
                <h3 class="text-yellow-500 text-s font-medium title-font"> Creative Skills </h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4"> Graphics Designs </h2>
                <!-- <div class="mb-4 text-center">
                      <p class="leading-relaxed text-base mb-2"> This session offers hands-on training using the latest and on-demand software </p>
                      <div class="hidden" id="full-description">
                        <p class="leading-relaxed text-base"> Participant are expected to have a tab or a laptop to learn effectively. </p>
                      </div>
                      <a href="#" onclick="toggleDescription(); return false;" class="text-blue-500 hover:underline">Read more</a>
                    </div> -->
                <button
                  class="inline-flex text-white bg-yellow-400 border-0 py-1.5 px-6 focus:outline-none rounded text-lg">
                  <a href=""
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/olaarowolo/personal-tutor'});return false;"
                    target="_blank"> Book a session </a>
                </button>
              </div>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4 flex items-center justify-center">
            <div class="bg-gray-100 p-6 rounded-lg w-full">
              <img class="rounded w-full object-cover object-center mb-6" src="{{ url_for( 'static', filename='images/2.svg')}}" alt="content" />
              <div class="flex flex-col items-center">
                <h3 class="text-yellow-500 text-s font-medium title-font"> Logic & Numeracy Skills </h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4"> Maths/Furthermaths </h2>
                <h2>
                  <a href="{{ url_for('keystages') }}" class="text-blue-500 hover:underline">
                    Read offer details</a></h2>                <!-- <div class="mb-4 text-center">
                      <p class="leading-relaxed text-base mb-2"> This session offers hands-on training using the latest and on-demand software </p>
                      <div class="hidden" id="full-description">
                        <p class="leading-relaxed text-base"> Participant are expected to have a tab or a laptop to learn effectively. </p>
                      </div>
                      <a href="#" onclick="toggleDescription(); return false;" class="text-blue-500 hover:underline">Read more</a>
                    </div> -->
                <button
                  class="inline-flex text-white bg-yellow-400 border-0 py-1.5 px-6 focus:outline-none rounded text-lg">
                  <a href=""
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/olaarowolo/personal-tutor'});return false;"
                    target="_blank"> Book a session </a>
                </button>
              </div>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4 flex items-center justify-center">
            <div class="bg-gray-100 p-6 rounded-lg w-full">
              <img class="rounded w-full object-cover object-center mb-6" src="{{ url_for( 'static', filename='images/3.svg')}}" alt="content" />
              <div class="flex flex-col items-center">
                <h3 class="text-yellow-500 text-s font-medium title-font"> Communication</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4"> English </h2>
                <h2>
                  <a href="{{ url_for('keystages') }}" class="text-blue-500 hover:underline">
                    Read offer details</a></h2>
                <!-- <div class="mb-4 text-center">
                      <p class="leading-relaxed text-base mb-2"> This session offers hands-on training using the latest and on-demand software </p>
                      <div class="hidden" id="full-description">
                        <p class="leading-relaxed text-base"> Participant are expected to have a tab or a laptop to learn effectively. </p>
                      </div>
                      <a href="#" onclick="toggleDescription(); return false;" class="text-blue-500 hover:underline">Read more</a>
                    </div> -->
                <button
                  class="inline-flex text-white bg-yellow-400 border-0 py-1.5 px-6 focus:outline-none rounded text-lg">
                  <a href=""
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/olaarowolo/personal-tutor'});return false;"
                    target="_blank"> Book a session </a>
                </button>
              </div>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4 flex items-center justify-center">
            <div class="bg-gray-100 p-6 rounded-lg w-full">
              <img class="rounded w-full object-cover object-center mb-6" src="{{ url_for( 'static', filename='images/4.svg')}}" alt="content" />
              <div class="flex flex-col items-center">
                <h3 class="text-yellow-500 text-s font-medium title-font"> Creative Skills </h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4"> Audio Editing </h2>
                <!-- <div class="mb-4 text-center">
                      <p class="leading-relaxed text-base mb-2"> This session offers hands-on training using the latest and on-demand software </p>
                      <div class="hidden" id="full-description">
                        <p class="leading-relaxed text-base"> Participant are expected to have a tab or a laptop to learn effectively. </p>
                      </div>
                      <a href="#" onclick="toggleDescription(); return false;" class="text-blue-500 hover:underline">Read more</a>
                    </div> -->
                <button
                  class="inline-flex text-white bg-yellow-400 border-0 py-1.5 px-6 focus:outline-none rounded text-lg">
                  <a href=""
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/olaarowolo/personal-tutor'});return false;"
                    target="_blank"> Book a session </a>
                </button>
              </div>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4 flex items-center justify-center">
            <div class="bg-gray-100 p-6 rounded-lg w-full">
              <img class="rounded w-full object-cover object-center mb-6" src="{{ url_for( 'static', filename='images/5.svg')}}" alt="content" />
              <div class="flex flex-col items-center">
                <h3 class="text-yellow-500 text-s font-medium title-font"> Creative Skills </h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4"> Literature-in-English </h2>
                <!-- <div class="mb-4 text-center">
                      <p class="leading-relaxed text-base mb-2"> This session offers hands-on training using the latest and on-demand software </p>
                      <div class="hidden" id="full-description">
                        <p class="leading-relaxed text-base"> Participant are expected to have a tab or a laptop to learn effectively. </p>
                      </div>
                      <a href="#" onclick="toggleDescription(); return false;" class="text-blue-500 hover:underline">Read more</a>
                    </div> -->
                <button
                  class="inline-flex text-white bg-yellow-400 border-0 py-1.5 px-6 focus:outline-none rounded text-lg">
                  <a href=""
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/olaarowolo/personal-tutor'});return false;"
                    target="_blank"> Book a session </a>
                </button>
              </div>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4 flex items-center justify-center">
            <div class="bg-gray-100 p-6 rounded-lg w-full">
              <img class="rounded w-full object-cover object-center mb-6" src="{{ url_for( 'static', filename='images/6.svg')}}" alt="content" />
              <div class="flex flex-col items-center">
                <h3 class="text-yellow-500 text-s font-medium title-font"> Creative Skills </h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4"> Computer Science
                </h2>
                <!-- <div class="mb-4 text-center">
                      <p class="leading-relaxed text-base mb-2"> This session offers hands-on training using the latest and on-demand software </p>
                      <div class="hidden" id="full-description">
                        <p class="leading-relaxed text-base"> Participant are expected to have a tab or a laptop to learn effectively. </p>
                      </div>
                      <a href="#" onclick="toggleDescription(); return false;" class="text-blue-500 hover:underline">Read more</a>
                    </div> -->
                <button
                  class="inline-flex text-white bg-yellow-400 border-0 py-1.5 px-6 focus:outline-none rounded text-lg">
                  <a href=""
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/olaarowolo/personal-tutor'});return false;"
                    target="_blank"> Book a session </a>
                </button>
              </div>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4 flex items-center justify-center">
            <div class="bg-gray-100 p-6 rounded-lg w-full">
              <img class="rounded w-full object-cover object-center mb-6" src="{{ url_for( 'static', filename='images/7.svg')}}" alt="content" />
              <div class="flex flex-col items-center">
                <h3 class="text-yellow-500 text-s font-medium title-font"> Creative Skills </h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4"> Digital Media </h2>
                <!-- <div class="mb-4 text-center">
                      <p class="leading-relaxed text-base mb-2"> This session offers hands-on training using the latest and on-demand software </p>
                      <div class="hidden" id="full-description">
                        <p class="leading-relaxed text-base"> Participant are expected to have a tab or a laptop to learn effectively. </p>
                      </div>
                      <a href="#" onclick="toggleDescription(); return false;" class="text-blue-500 hover:underline">Read more</a>
                    </div> -->
                <button
                  class="inline-flex text-white bg-yellow-400 border-0 py-1.5 px-6 focus:outline-none rounded text-lg">
                  <a href=""
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/olaarowolo/personal-tutor'});return false;"
                    target="_blank"> Book a session </a>
                </button>
              </div>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4 flex items-center justify-center">
            <div class="bg-gray-100 p-6 rounded-lg w-full">
              <img class="rounded w-full object-cover object-center mb-6" src="{{ url_for( 'static', filename='images/8.svg')}}" alt="content" />
              <div class="flex flex-col items-center">
                <h3 class="text-yellow-500 text-s font-medium title-font"> Wordpress Web Administration </h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4"> Content Management System </h2>
                <!-- <div class="mb-4 text-center">
                      <p class="leading-relaxed text-base mb-2"> This session offers hands-on training using the latest and on-demand software </p>
                      <div class="hidden" id="full-description">
                        <p class="leading-relaxed text-base"> Participant are expected to have a tab or a laptop to learn effectively. </p>
                      </div>
                      <a href="#" onclick="toggleDescription(); return false;" class="text-blue-500 hover:underline">Read more</a>
                    </div> -->
                <button
                  class="inline-flex text-white bg-yellow-400 border-0 py-1.5 px-6 focus:outline-none rounded text-lg">
                  <a href=""
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/olaarowolo/personal-tutor'});return false;"
                    target="_blank"> Book a session </a>
                </button>
              </div>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4 flex items-center justify-center">
            <div class="bg-gray-100 p-6 rounded-lg w-full">
              <img class="rounded w-full object-cover object-center mb-6" src="{{ url_for( 'static', filename='images/9.svg')}}" alt="content" />
              <div class="flex flex-col items-center">
                <h3 class="text-yellow-500 text-s font-medium title-font"> Creative Editing </h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4"> Video Editing </h2>
                <!-- <div class="mb-4 text-center">
                      <p class="leading-relaxed text-base mb-2"> This session offers hands-on training using the latest and on-demand software </p>
                      <div class="hidden" id="full-description">
                        <p class="leading-relaxed text-base"> Participant are expected to have a tab or a laptop to learn effectively. </p>
                      </div>
                      <a href="#" onclick="toggleDescription(); return false;" class="text-blue-500 hover:underline">Read more</a>
                    </div> -->
                <button
                  class="inline-flex text-white bg-yellow-400 border-0 py-1.5 px-6 focus:outline-none rounded text-lg">
                  <a href=""
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/olaarowolo/personal-tutor'});return false;"
                    target="_blank"> Book a session </a>
                </button>
              </div>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4 flex items-center justify-center">
            <div class="bg-gray-100 p-6 rounded-lg w-full">
              <img class="rounded w-full object-cover object-center mb-6" src="{{ url_for( 'static', filename='images/10.svg')}}" alt="content" />
              <div class="flex flex-col items-center">
                <h3 class="text-yellow-500 text-s font-medium title-font"> HTML/CSS </h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4"> Website Development</h2>
                                <!-- Link to the Coding for Kids page -->

                <h2><a href="{{ url_for('coding4kids') }}" class="text-blue-500 hover:underline">Read offer details</a></h2>

                <!-- <div class="mb-4 text-center">
                      <p class="leading-relaxed text-base mb-2"> This session offers hands-on training using the latest and on-demand software </p>
                      <div class="hidden" id="full-description">
                        <p class="leading-relaxed text-base"> Participant are expected to have a tab or a laptop to learn effectively. </p>
                      </div>
                      <a href="#" onclick="toggleDescription(); return false;" class="text-blue-500 hover:underline">Read more</a>
                    </div> -->
                <button
                  class="inline-flex text-white bg-yellow-400 border-0 py-1.5 px-6 focus:outline-none rounded text-lg">
                  <a href=""
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/olaarowolo/personal-tutor'});return false;"
                    target="_blank"> Book a session </a>
                </button>
              </div>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4 flex items-center justify-center">
            <div class="bg-gray-100 p-6 rounded-lg w-full">
              <img class="rounded w-full object-cover object-center mb-6" src="{{ url_for( 'static', filename='images/11.svg')}}" alt="content" />
              <div class="flex flex-col items-center">
                <h3 class="text-yellow-500 text-s font-medium title-font"> JavaScript </h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4"> Website Development </h2>
                <h2><a href="{{ url_for('coding4kids') }}" class="text-blue-500 hover:underline">Read offer details</a></h2>
                <!-- <div class="mb-4 text-center">
                      <p class="leading-relaxed text-base mb-2"> This session offers hands-on training using the latest and on-demand software </p>
                      <div class="hidden" id="full-description">
                        <p class="leading-relaxed text-base"> Participant are expected to have a tab or a laptop to learn effectively. </p>
                      </div>
                      <a href="#" onclick="toggleDescription(); return false;" class="text-blue-500 hover:underline">Read more</a>
                    </div> -->
                <button
                  class="inline-flex text-white bg-yellow-400 border-0 py-1.5 px-6 focus:outline-none rounded text-lg">
                  <a href=""
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/olaarowolo/personal-tutor'});return false;"
                    target="_blank"> Book a session </a>
                </button>
              </div>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4 flex items-center justify-center">
            <div class="bg-gray-100 p-6 rounded-lg w-full">
              <img class="rounded w-full object-cover object-center mb-6" src="{{ url_for( 'static', filename='images/12.svg')}}" alt="content" />
              <div class="flex flex-col items-center">
                <h3 class="text-yellow-500 text-s font-medium title-font"> Photography </h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4"> Studio & Mobile Studio Setup </h2>
                <!-- <div class="mb-4 text-center">
                      <p class="leading-relaxed text-base mb-2"> This session offers hands-on training using the latest and on-demand software </p>
                      <div class="hidden" id="full-description">
                        <p class="leading-relaxed text-base"> Participant are expected to have a tab or a laptop to learn effectively. </p>
                      </div>
                      <a href="#" onclick="toggleDescription(); return false;" class="text-blue-500 hover:underline">Read more</a>
                    </div> -->
                <button
                  class="inline-flex text-white bg-yellow-400 border-0 py-1.5 px-6 focus:outline-none rounded text-lg">
                  <a href=""
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/olaarowolo/personal-tutor'});return false;"
                    target="_blank"> Book a session </a>
                </button>
              </div>
            </div>
          </div>
          <!--  END OF SUBJECTS LISTS -->
        </div>
      </div>
    </section>
    <!-- Some Statitcs -->
    <section class="text-gray-600 bg-gray-100 body-font">
      <div class="container px-5 py-24 mx-auto flex flex-wrap items-center justify-center">
        <div class="xl:w-1/4 items-center justify-center w-full mb-12 text-center">
          <h1 class="title-font font-medium text-3xl mb-4 text-gray-900"> Why us? </h1>
          <p class="text-base leading-relaxed">Discover the benefits of our expert instruction, tailored lessons, and
            affordable rates.</p>
          <div class="text-[14px] mt-6">
            <ul class="list-none">
              <li class="mb-6 bg-white p-6 px-15 rounded-lg shadow-md">
                <b class="text-gray-900 text-lg">⁠Expert Instruction</b>
                <br>Benefit from over 10 years of international teaching experience across primary, secondary/colleges,
                and universities.
              </li>
              <li class="mb-6 bg-white p-6 px-8 rounded-lg shadow-md">
                <b class="text-gray-900 text-lg">Tailored Lessons</b>
                <br> Each session is customised to meet your child's individual learning needs and goals.
              </li>
              <li class="mb-6 bg-white p-6 px-8 rounded-lg shadow-md">
                <b class="text-gray-900 text-lg"> Affordable Rates</b>
                <br> Lessons starting from just £22/hour.
              </li>
            </ul>
            <!--==================== FOOTER ====================-->

            <p style="font-size: 0.875rem; margin-bottom: 1.5rem; padding: 1.5rem 2rem;">
              © 2024 OA Tutors. All rights reserved. Designed by
              <a href="https://olaarowolo.com"
                style="color: inherit; text-decoration: none; transition: color 0.3s ease;">Olasunkanmi Arowolo</a>
              <div style="text-align:center;"> <span style="display:inline-flex;"> <a
                    href="https://facebook.com/olaarowoloo" style="color:#9ca3af;"> <svg fill="currentColor"
                      stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      style="width:1.25rem;height:1.25rem;" viewBox="0 0 24 24">
                      <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg> </a> <a href="https://x.com/olaarowolo" style="color:#9ca3af;margin-left:0.75rem;"> <svg
                      fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      style="width:1.25rem;height:1.25rem;" viewBox="0 0 24 24">
                      <path
                        d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                      </path>
                    </svg> </a> <a href="https://instagram.com/olaarowolo" style="color:#9ca3af;margin-left:0.75rem;">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2" style="width:1.25rem;height:1.25rem;" viewBox="0 0 24 24">
                      <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                      <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg> </a> <a href="https://www.linkedin.com/in/olasunkanmi-arowolo-5619a165/"
                    style="color:#9ca3af;margin-left:0.75rem;"> <svg fill="currentColor" stroke="currentColor"
                      stroke-linecap="round" stroke-linejoin="round" stroke-width="0"
                      style="width:1.25rem;height:1.25rem;" viewBox="0 0 24 24">
                      <path stroke="none"
                        d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                      <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg> </a> </span> </div>
            </p>
          </div>
        </div>
      </div>
    </section>
    </section>
    <section>
      <!-- <div><img
            src="assets/img/flier-tutor.olaarowolo.com.png"
            width="40%"
            alt="OA Tutors Logo"
            style="
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            "
          /></div> -->

      <!-- <div class=""><input type="text" class="form-control-lg border-start-0 rounded-5 m-1" placeholder="Email Address"><button id="send_now" class="btn btn-lg btn-dark rounded-5 border-white border-4 m-1">Send Now</button></div> -->
      </div>
    </section>
    <section></section>
  </main>

  <!--==================== SWIPER JS ====================-->
  <script src="assets/js/swiper-bundle.min.js"></script>
  <!--==================== MAIN JS ====================-->
  <script src="assets/js/main.js"></script>
  <script>
    function toggleDescription() {
      var fullDescription = document.getElementById("full-description");
      if (fullDescription.classList.contains("hidden")) {
        fullDescription.classList.remove("hidden");
        document.querySelector(".text-blue-500").textContent = "Read less";
      } else {
        fullDescription.classList.add("hidden");
        document.querySelector(".text-blue-500").textContent = "Read full description";
      }
    }
  </script>
</body>


</html>